#pad {
    background-color: darkseagreen;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 100px;
    width: 75%;
    opacity: 0.8;
    border-radius:20px;
}

#img {
    display: inline-block;
    margin: 20px;
}

h1 {
    font-size: 800%;
}
#text {
    display: inline-block;
}

body {
    color: white;
    background-image: url("../pics/fourSeasons.jpg");
}

#backdiv {
    display: block;
    margin: auto;
    width: 10%;
}

#back {
    width: 150px;
}
