body {
  margin-top: 80px;
  margin-bottom: 80px;
}
.btn-circle-scroll {
  font-size: 20px;
  color: grey;
}

/*section {
  margin-top: 50px;
  margin-bottom:50px;
}*/

.center {
  margin: auto;
  width: 0%;
}

h1 {
  font-size: 30px;
}

h2 {
  padding-bottom: 20px;
  font-weight: 700;
}

section hr {
  padding-top: 20px;
}

.section-img {
  margin: 10px;
  margin-bottom: 30px;
}

#portfolio img {
  padding: 10px;
}

#scroll {
  float: center;
}

.caption {
  text-align: center;
}

#navbar {
  font-size: 150%;
}
.glyphicon {
  font-size: 150%;
}
.soc {
    margin-right: 10px;
    margin-bottom: 10px;
}