div.mainFrame {
  background-color: rgb(189, 204, 226);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  border-radius:20px;
}
div.searchFrame {
  background-color: rgb(143, 145, 168);
  margin-top: 40px;
  padding: 20px;
  border-radius:20px;
}
div.searchBox {
  background-color: white;
  padding: 20px;
  border-radius:20px;
}
div.searchBtnFrame {
  background-color: white;
  margin-top: 30px;
  padding: 8px;
  width: 150px;
  border-radius:20px;
  display: inline-block;
}
div.searchBtn {
  background-color: rgb(143, 145, 168);
  padding: 8px;
  border-radius:20px;
  text-align: center;
  cursor: pointer;
}
div.randomFrame {
  background-color: rgb(143, 145, 168);
  margin-top: 10px;
  margin-left: 30px;
  padding: 8px;
  width: 100px;
  border-radius:20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

div.outFrame {
  background-color: rgb(143, 145, 168);
  margin-top: 40px;
  padding: 20px;
  border-radius:20px;
}
div.output {
  background-color: white;
  padding: 20px;
  border-radius:20px;
}

#plink {
  text-align: right;
}
#back {
    display: block;
    margin: auto;
    width: 20%;
}
#backdiv {
  padding-top: 20px;
}

#switch {
  font-size: 16px;
}
