body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page,
.page-content,
.panel,
.tile {
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.tile {
  display: inline-block;
  margin: 5px;
  width: 150px;
}