body {
  margin: 0;
  padding-top: 30px;
  font-family: sans-serif;
  background: #1B0642;
  color: #28262C;
}

.page,
.page-content,
.panel,
.tile {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #28262C;
}

.page {
  background-color: #998FC7;
}

.page-content {
  background-color: #D4C2FC;
}

.panel {
  background-color: #F9F5FF;
}

/*CHARLESTON GREEN

gray - #28262C
light violet - #998FC7
very light violet - #D4C2FC
almost white - #F9F5FF
dark violet - #1B0642
*/

.tile {
  display: inline-block;
  margin: 5px;
  width: 290px;
  text-align: left;
}

h4 {
  text-align: center;
}

.contact-links {
  margin-bottom: 20px;
}

.contact-links div {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  width: 70px;
  font-size: 12px;
  background-color: #F9F5FF;
}