body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page,
.page-content,
.panel,
.tile {
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.tile {
  display: inline-block;
  margin: 5px;
  width: 290px;
  text-align: left;
}

h4 {
  text-align: center;
}

.contact-links {
  margin-bottom: 20px;
}

.contact-links div {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
  width: 70px;
  font-size: 12px;
}