body {
  /*margin: 100px 0 50px 0;*/
  /*background-image: url("images/abstract-2179083_1920.jpg");*/
  background-size: cover;
  background-position: center;
  color: #28262C;
  font-family: 'Yantramanav', sans-serif;
}

.upper-text h3:hover,
.upper-text h4:hover {
  color: #c8e6c9;
  transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
}

.upper-text h5:hover {
  color: #c8e6c9;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

a {
  color: #28262C;
}

.page,
.page-content,
.panel,
.tile {
  color: #28262C;
}

.page {
  height: 100%;
  padding: 50px 20px 50px 20px;
}

.page-content {
  color: white;
}

.panel {
  margin-top: 50px;
  margin-bottom: -20px;
  background: none;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -webkit-animation-direction: ;
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.tile {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
}

.tile:hover {
  transform: scale(1.01, 1.01);
  -moz-transform: scale(1.01, 1.01);
  -ms-transform: scale(1.01, 1.01);
  -webkit-transform: scale(1.01, 1.01);
  -o-transform: scale(1.01, 1.01);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.tile-name {
  background-color: #75ccb9;
  padding: 3px 30px 3px 30px;
}

.tile-content {
  background-color: white;
  padding: 10px 30px 10px 30px;
}

.tile-content a {
  color: #00b686;
}


.tile-content:hover {
  background-color: #e8f5e9;
}

.contact-links {
  margin-bottom: 20px;
  text-align: center;
  margin-left: -5%;
  margin-right: -5%;
  margin-top: 5%;
}

.contact-links div {
  display: inline-block;
  padding-top: 5px;
  width: 21%;
  margin: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  background-color: #ecfffd;
}

.contact-links div:hover {
  background-color: #c8e6c9;
  cursor: pointer;
  transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -ms-transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
}

.parallax {
  background-image: url("images/abstract-2179083_1920.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
