body {
  /*margin: 100px 0 50px 0;*/
  /*background-image: url("images/abstract-2179083_1920.jpg");*/
  background-size: cover;
  background-position: center;
  color: #28262C;
  font-family: 'Yantramanav', sans-serif;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

a {
  color: #28262C;
}

.page,
.page-content,
.panel,
.tile {
  color: #28262C;
}

.page {
  height: 100%;
  padding: 50px;
}

.page-content {
  color: white;
}

.panel {
  margin-top: 50px;
  margin-bottom: -20px;
  background: none;
}

.tile {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
}

.tile-name {
  background-color: #75ccb9;
  padding: 3px 30px 3px 30px;
}

.tile-content {
  background-color: white;
  padding: 5px 30px 10px 30px;
}

.contact-links {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.contact-links div {
  display: inline-block;
  margin: 5px ;
  padding: 5px;
  width: 22%;
  font-size: 12px;
  background-color: #ecfffd;

}

.parallax {
  /* The image used */
  background-image: url("images/abstract-2179083_1920.jpg");

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

/*
gray - #28262C
light violet - #998FC7
very light violet - #D4C2FC
almost white - #F9F5FF
dark violet - #1B0642
*/